.button
	cursor: $pointer
	display: inline-block
	font-size: 16px
	line-height: 19px
	padding: 17px 40px 20px
	border-radius: 4px
	color: #fff
	background-color: #3E7FFF
	border: none
	text-align: center

	&--small
		font-size: 14px
		line-height: 17px
		padding-top: 11px
		padding-bottom: 12px

	&--blue
		background-color: #E2F3FB
		color: #3E7FFF
		padding: 6px 12px 8px

	&--blue-big
		font-size: 18px
		line-height: 22px
		padding-top: 16px
		padding-bottom: 18px

	&:hover
		background-color: #3772E5
		color: #fff

	&:disabled
		background-color: #65C9FF
		cursor: default


