.reviews
	margin-top: 52px
	margin-bottom: 52px
	padding: 48px
	background-color: #F4F4F6
	overflow: hidden
	border-radius: 4px

	&__top
		margin-bottom: 40px
		display: flex
		justify-content: space-between
		align-items: flex-end

	&__buttons
		display: flex
		margin-top: -8px
		margin-right: -8px

	&__button
		width: 48px
		height: 48px
		display: flex
		justify-content: center
		align-items: center
		background: none
		border: 2px solid #0A1428
		border-radius: 50%
		cursor: pointer
		padding: 0
		transition: transform 0.2s
		position: relative

		a
			position: absolute
			width: 100%
			height: 100%


		&:hover
			transform: scale(1.1)

		&--prev
			margin-right: 24px


	&__list-wrap
		margin-bottom: 68px
		width: 815px

		.bx-wrapper
			background: none
			box-shadow: none
			border: none
			margin: 0

		.bx-viewport
			overflow: visible !important

		.bx-pager
			display: none

	&__item
		padding-right: 180px
		opacity: 0.16
		transition: opacity 0.5s

		&[aria-hidden="false"]
			opacity: 1
	
	&__text
		margin-bottom: 24px

	&__author
		display: flex

	&__image
		border-radius: 50%
		width: 40px
		height: 40px
		margin-right: 16px

	&__name
		margin-bottom: 2px

	&__link
		font-size: 14px
		line-height: 20px
		color: #4B90E2

