.reviews
	margin-top: 52px
	margin-bottom: 52px
	padding: 48px
	background-color: #F4F4F6
	overflow: hidden

	&__top
		margin-bottom: 40px
		display: flex
		justify-content: space-between
		align-items: flex-end

	&__buttons
		display: flex
		margin-top: -8px
		margin-right: -8px

	&__button
		width: 48px
		height: 48px
		display: flex
		justify-content: center
		align-items: center
		background: none
		border: 2px solid #0A1428
		border-radius: 50%
		cursor: pointer
		padding: 0
		transition: transform 0.2s

		&:hover
			transform: scale(1.1)

		&--prev
			margin-right: 24px


	&__list
		display: flex
		margin-bottom: 68px
		position: relative
		transition: 0.5s
		left: 0

	&__item
		width: 815px
		padding-right: 185px
		flex-shrink: 0
		opacity: 0.16
		transition: opacity 0.5s

		&--focus
			opacity: 1

	&__text
		margin-bottom: 24px

	&__author
		display: flex

	&__image
		border-radius: 50%
		width: 40px
		height: 40px
		margin-right: 16px

	&__name
		margin-bottom: 2px

	&__link
		font-size: 14px
		line-height: 20px
		color: #4B90E2

	&__dots
		display: inline-flex
		margin: 0 auto

	&__dots-item
		width: 10px
		height: 10px
		background-color: #000
		margin-right: 10px

