@mixin inner-item($number, $top, $left, $right, $width)
	.section-how__inner-item:nth-of-type(#{$number})
		top: $top
		left: $left
		right: $right
		width: $width

.section-how
	padding-top: 52px
	padding-bottom: 52px

	&__title
		margin-bottom: 16px

	&__text
		margin-bottom: 56px
		max-width: 771px
		margin-left: auto
		margin-right: auto

	&__main
		position: relative
		border-radius: 4px
		overflow: hidden
		margin-bottom: 32px

	&__tabs
		position: absolute
		top: 32px
		width: 100%
		display: flex
		justify-content: center
		z-index: 1
		margin-bottom: 0

	&__tab
		width: 120px
		height: 48px
		border: 1px solid #E5E5E5
		background-color: #fff
		cursor: pointer
		padding: 0

		&:hover
			background-color: #E5E5E5

		&:focus
			outline: none

		&--active
			background-color: #3E7FFF
			border-color: #3E7FFF
			color: #fff

			&:hover
				background-color: #3E7FFF
				border-color: #3E7FFF
				color: #fff
				cursor: default

		&:first-of-type
			border-radius: 4px 0 0 4px

		&:last-of-type
			border-radius: 0 4px 4px 0

	&__item
		position: relative
		display: none

		&:first-of-type
			display: block

	&__inner-item
		position: absolute
		padding-left: 24px
		font-size: 16px
		line-height: 20px
		box-sizing: content-box

		&::before
			content: ''
			position: absolute
			width: 16px
			height: 16px
			border: 2px solid #fff
			background-color: #3E7FFF
			border-radius: 50%
			top: 2px
			left: 0
			box-sizing: border-box

		&--right
			text-align: right
			padding-left: 0
			padding-right: 24px

			&::before
				left: auto
				right: 0

	&__bottom
		max-width: 580px
		margin-left: auto
		margin-right: auto
		display: flex
		text-align: right

	&__button
		flex-shrink: 0
		width: 240px
		margin-left: 16px

	&--main .section-how__item
		&:nth-of-type(1)
			@include inner-item(1, 139px, 858px, auto, 160px)
			@include inner-item(2, 469px, 134px, auto, 160px)
			@include inner-item(3, 610px, 741px, auto, 100px)
			@include inner-item(4, 436px, 934px, auto, 150px)
			@include inner-item(5, 316px, auto, 569px, 200px)
			.section-how__inner-item:nth-of-type(n + 6)
				display: none
		&:nth-of-type(2)
			@include inner-item(1, 139px, 943px, auto, 160px)
			@include inner-item(2, 398px, 832px, auto, 160px)
			@include inner-item(3, 637px, 132px, auto, 100px)
			@include inner-item(4, 526px, auto, 751px, 150px)
			@include inner-item(5, 186px, auto, 429px, 200px)
			.section-how__inner-item:nth-of-type(n + 6)
				display: none

+media-breakpoint-down(lg)
	.section-how
		
		&--main .section-how__item
			&:nth-of-type(1)
				@include inner-item(1, 100px, 700px, auto, 160px)
				@include inner-item(2, 370px, 100px, auto, 160px)
				@include inner-item(3, 480px, 560px, auto, 100px)
				@include inner-item(4, 330px, 700px, auto, 150px)
				@include inner-item(5, 250px, auto, 440px, 200px)
				.section-how__inner-item:nth-of-type(n + 6)
					display: none
			&:nth-of-type(2)
				@include inner-item(1, 17.63%, 79.91%, auto, 160px)
				@include inner-item(2, 307px, 650px, auto, 160px)
				@include inner-item(3, 490px, 40px, auto, 100px)
				@include inner-item(4, 415px, auto, 580px, 150px)
				@include inner-item(5, 170px, auto, 280px, 200px)
				.section-how__inner-item:nth-of-type(n + 6)
					display: none

+media-breakpoint-down(md)
	.section-how
		padding-top: 40px
		padding-bottom: 40px

		&__container
			max-width: 768px
			padding: 0

		&__tabs
			position: static
			margin-bottom: 24px