.select
	border: 1px solid #E5E5E5
	border-radius: 4px
	width: 100%
	cursor: $pointer
	-webkit-appearance: none
	line-height: 20px
	box-sizing: border-box
	background: url(../img/select-arrow.svg) no-repeat
	background-position: center right 16px
	background-color: #fff
	text-align: left

	&:focus, &:active
		border-color: #3E7FFF
		outline: none

	&:disabled
		opacity: 0.4
		cursor: default
	
	.selectric
		background: none
		border: none

	.selectric-wrapper
		margin-left: -1px
		margin-right: -1px

	.label
		line-height: 20px
		font-size: 16px
		height: auto
		border: none
		background: none
		margin: 0
		padding: 17px 16px
		padding-right: 30px

	.button
		display: none

	.selectric-items
		border: 1px solid #E5E5E5
		border-radius: 0 0 4px 4px
		margin-top: -2px
		background: #fff
		box-shadow: none

	.selectric-above .selectric-items
		border-radius: 4px 4px 0 0
		margin-top: 0
		margin-bottom: -2px

	.selectric-items li
		font-size: 14px
		line-height: 20px
		padding: 10px 15px
		background: none
		color: $text
	